[submodule "getopt"]
	path = getopt
	url = git@github.com:peeterjoot/gnu-getopt.git
[submodule "mathematica"]
	path = mathematica
	url = git@github.com:peeterjoot/mathematica.git
[submodule "figures"]
	path = figures
	url = git@github.com:peeterjoot/figures.git
[submodule "matlab"]
	path = matlab
	url = git@github.com:peeterjoot/matlab.git
[submodule "clang"]
	path = clang
	url = git@github.com:peeterjoot/clang.git
[submodule "julia"]
	path = julia
	url = git@github.com:peeterjoot/julia.git
[submodule "rarray"]
	path = rarray
	url = git@github.com:vanzonr/rarray
[submodule "notes/latex"]
	path = notes/latex
	url = git@github.com:peeterjoot/latex.git
