[submodule "getopt"]
	path = getopt
	url = git@github.com:peeterjoot/gnu-getopt.git
[submodule "mathematica"]
	path = mathematica
	url = git@github.com:peeterjoot/mathematica.git
[submodule "figures"]
	path = figures
	url = git@github.com:peeterjoot/figures.git
