---
# clang 3.9?
#AlignConsecutiveAssignments:          true
#AlignConsecutiveDeclarations:         true
BasedOnStyle:                          Google
AlignTrailingComments:                 true
AllowShortIfStatementsOnASingleLine:   false
AllowShortLoopsOnASingleLine:          false
AllowShortFunctionsOnASingleLine:      false
BreakBeforeBraces:                     Allman
ColumnLimit:                           120
IndentWidth:                           4
Language:                              Cpp
MaxEmptyLinesToKeep:                   2
NamespaceIndentation:                  All
SpacesBeforeTrailingComments:          4
SpacesInParentheses:                   true
Standard:                              Cpp11
TabWidth:                              4
UseTab:                                Never
...
